body {
  background-color: rgb(9, 9, 15);
  color: #eee;
  font: 15px sans-serif;
  margin: 0 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.tree-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  max-width: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 10px;
}

.sidebar-row {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.sidebar-row>*:first-child {
  flex: 0 0 100px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.sidebar-row label {
  margin-left: 0.1em;
}

input[type='text'] {
  font: inherit;
  background-color: inherit;
  color: inherit;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0.7em;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type='text']:focus {
  outline: none;
  border-color: rgb(255, 255, 255);
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
}

.react-numeric-input {
  display: grid;
  grid-template-columns: auto 20px;
  grid-template-rows: 1fr 1fr;
}

.react-numeric-input input {
  grid-row: 1 / 3;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.react-numeric-input b {
  position: relative;
  border-left: none;
}

.react-numeric-input b i {
  position: absolute;
  top: 50%;
  left: 50%;

  opacity: 0.7
}

.react-numeric-input b:hover i {
  opacity: 1;
}
.react-numeric-input b:active i {
  opacity: 0.5;
}

.react-numeric-input b:first-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
.react-numeric-input b:last-of-type {
  border-top: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

.react-numeric-input b:first-of-type i {
  border-width: 0 0.3em 0.3em;
  border-color: transparent transparent rgba(255, 255, 255);
  border-style: solid;
  margin: -0.2em 0 0 -0.3em;
}

.react-numeric-input b:last-of-type i {
  border-width: 0.3em 0.3em 0;
  border-color: rgba(255, 255, 255) transparent transparent;
  border-style: solid;
  margin: -0.1em 0 0 -0.3em;
}

.matrix-input-container {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin-left: -5px;
}

.matrix-input {
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;
  width: 80px;
  height: 80px;
}

.matrix-input input {
  background: none;
  color: inherit;
  border: 1px dashed rgba(255, 255, 255, 0.6);
  padding: 2px;
  text-align: center;
}

.matrix-input input:focus {
  border-color: rgb(255, 255, 255);
}

.disabled {
  opacity: 0.5;
}