body {
  background-color: rgb(9, 9, 15);
  color: #eee;
}

#tree-controls label {
  width: 30%;
  text-align: right;
}

#tree-controls .input {
  width: 60%;
}

#tree-controls .number-input .input {
  width: 100%;
}

#tree-controls .number-input input {
  text-align: left !important;
}

#tree-controls .number-input > div {
  width: 200px;
}

.matrix-input-container {
  display: inline-grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  gap: 2px;
  width: 64px;
  height: 64px;
}

.matrix-input-container input,
.ui.form .matrix-input-container input {
  background: none;
  color: inherit;
  border: 1px dashed rgba(255, 255, 255, 0.6);
  border-radius: 0;
  padding: 5px;
  text-align: center;
}