body {
  background-color: rgb(9, 9, 15);
  color: #eee;
}

#tree-controls label {
  width: 30%;
  text-align: right;
}

#tree-controls .input {
  width: 60%;
}

#tree-controls .number-input .input {
  width: 100%;
}

#tree-controls .number-input input {
  text-align: left !important;
}

#tree-controls .number-input > div {
  width: 100%;
}